---
import Layout from '../layouts/Layout.astro';
import Hero from "../components/Hero.astro";
import axios from "axios";
import Newsletter from '../components/Newsletter';

const title = "Astro home";

const post = await axios.get('https://jsonplaceholder.typicode.com/posts');
console.log(post.data); // Verrà mostrato nel terminale e non sul browser, neanche in network (è Server Side Rendering, ciccio!)
---

<Layout title={title}>

    <Hero title={title}/>

    <Newsletter client:load/> <!-- Hydrating component -->

    {
        post.data.map(post => {
            return <div>
                <h2>{post.title}</h2>
                <div>{post.body}</div>
            </div>
            <hr>
        })
    }

</Layout>

<style is:global>
    h2 {
        @apply font-bold
    }
</style>

